<!DOCTYPE html>
<html>
<head>
  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/style.css">
  <link rel="stylesheet" type="text/css" href="/styles/counter.css">
</head>
<body>
  <div class="row">
    <h3 class="col-12 counter-title">Get_Close</h3>
  </div>
  <div class="row">
    <div class="col-4 contact-div">
      <div class="col-12 menu">
      </div>
      <div class="col-12 contacts">
      </div>
    </div>
    <div class="col-8 content-div">
      <div class="col-12 message-div">
      </div>
      <div class="col-12 input-div">
      </div>
    </div>
  </div>
  <div class="row">
    <h6 class="col-12 developer">
      Made by Mostafa Ahmadi Amin
    </h6>
  </div>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/scripts/clientio.js"></script>
</body>
</html>
