<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF8">
  <title>Get_Close</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/style.css">
  <link rel="stylesheet" type="text/css" href="/styles/counter.css">
</head>
<body>
  <div class="row">
    <h3 id="title" class="col-12 counter-title">Get_Close</h3>
  </div>
  <div class="row">
    <div class="col-4 contact-div">
      <div class="col-12 menu">
        <ul class="col-12 ul-menu">
          <li id="name_of_user" class="col-6"></li>
          <li class="col-6" onclick="showSettings();">Settings</li>
        </ul>
      </div>
      <div class="col-12 contacts" id="contacts">
      </div>
      <!-- Settings Box -->
      <div class="col-12 settings" id="settings">
        <div class="settings-top">
          <h2 class="settings-head">Settings</h2>
          <div class="settings-close" id="settings_close" 
            onclick="closeSettings();">close</div>
        </div>
        <div class="col-12 settings-el" onclick="prepareRoom();">
        Make New Group</div>
        <div class="col-12 settings-el" onclick="showNewContactPage();">
        Add friend</div>
      </div>
      
    </div>
    <div class="col-8 content-div">
      <div class="col-12 content-header" id="content_header">
      </div>
      <div id="message_place" class="col-12 message-div">
      </div>
      <div class="col-12 input-div">
        <form class="col-12" id="message-form">
          <input class="col-10 message-input" type="text" name="message_input" 
          id="message_input" disabled>
          <input type="submit" class="col-1 send-btn" id="send_btn"
          value="SEND">
        </form>
      </div>
      <div class="room" id="room">
        <div class="room-head">Room</div>
        <div class="room-close" onclick="closeRoom();">Close</div>
        <div id="room_name" class="room-name"></div>
        <button class="new-room-btn" onclick="joinThisRoom();">
          create Room
        </button>
      </div>
    </div>
  </div>
  <div class="row">
    <h6 class="col-12 developer">
      Made by Mostafa Ahmadi Amin
    </h6>
  </div>
  <!-- new group creator page -->
  <div id="new_contact" class="new-contact">
    <div class="row col-12 newc-hdiv">
      <h1 class="col-11 newc-hdiv-h">Make New Group</h1>
      <div class="col-1 newc-hdiv-c" onclick="closeNewContactPage();">Close
      </div>
    </div>
    <div class="row col-12 newc-mdiv">
      <div class="col-12 newc-mdiv-form" id="create_group_form">
        <div class="row form-parts" >
          <h2 class="col-2 fparts-h">GROUP NAME: 
          </h2>
          <input class="col-5 fparts-i" name="group-name" id="group_name"
            type="text">
          <button class="col-2 fparts-b" onclick="createNewGroup();">
            Create Group
          </button>
        </div>
      </div>
    </div>
  </div>
  <script>
  /*
    asks username ...
  */
    var user = {
      uid: "<%= uid%>",
      uname: "",
      uemail: "<%= uemail %>",
      ucontacts: []
    };
    
    if(user.uemail == "") {
      window.location = "http://localhost:5000/users/login";
    } else {
      document.getElementById("name_of_user").innerHTML = user.uemail;    
    }
    /*
    var user_name ="";
    do {
      user_name = prompt("What is your name?");
    } while (!user_name);
    if(user_name) {
      document.getElementById("name_of_user").innerHTML = user_name;
    }
    */
  </script>
<!--
Another option might be to make an AJAX call back to the server once the page has already loaded, return the gameState JSON, and set clientGameState to the JSON response.
-->  
  <script src="/scripts/helper.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/scripts/clientio.js"></script>
</body>
</html>
