<!DOCTYPE html>
<html>
<body>
  <h1>JWT Project</h1>
  <h2>Home page</h2>
  <h3>Welcome <%= name %></h3>
  <h3><%= email %></h3>
  <form>
    <input type="hidden" id="token" name="token" value="${ AJWT }">
    <button onclick="getUserData();return false;">GO TO BANK ACCOUNT</button>
  </form>
  <div id="demo2"></div>
  <script>
  // we get the refresh Token from localStorage here
var RToken = localStorage.getItem("RToken");
document.write(RToken);
// this function is just redirect action 
function getUserData() {
  window.location = 'http://localhost:4000/counter';
}
  </script>
</body>
</html> 
