<!DOCTYPE html>
<head>
  <meta charset="UTF-8">
  <title>Tele-say</title>
  <link rel="stylesheet" type="text/css" href="/styles/style.css">
  <link rel="stylesheet" type="text/css" href="/styles/index-style.css">
</head>
<body>
  <div class="row">
    <h1 class="col-12 welcome-txt">Welcome to Tele-say</h1>
  </div>
  <div class="row">
    <h2 class="col-6 welcome-txt">To Start</h2>
    <div class="col-6 login-btn">
      <a class="col-12" href='/users/login'>Login</a>
    </div>
  </div>
  <div class="row">
    <div class="col-6 footer-part">
      To create an account: 
      <a href='/users/register'>Register</a>
    </div>
  </div>  
  <div class="row">  
    <div class="col-6 footer-part">
      Presented by Mostafa Ahmadi Amin
    </div>
  </div>
</body>
