<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/styles/style.css">
  <script>
var cookies = document.cookie;
document.write(cookies);
  </script>
</head>
<body>
  <div class="row">
    <h1 class="col-10">WEB DEV</h1>
    <%= %>
  </div>
</body>
</html>
