.counter-title {
  background-color: #bbb;
  color: black;
  text-align: center;
  border: 1px solid #999;
  margin: 0;
  padding-bottom: 10px;
  height: 6vh;
}
.contact-div {
  height: 88vh;
  background-color: #fff;
}
.content-div {
  height: 88vh;
  background-color: #eee;
}
.developer {
  margin: 0;
  background-color: #bbb;
  color: black;
  padding-top: 10px;
  border: 1px solid #999;
  height: 6vh;
}
.menu {
  height: 8vh;
  border: 1px solid #999;
}
.contacts {
  height: 80vh;
  border: 1px solid #999;
}
.message-div {
  height: 80vh;
  border: 1px solid #999;
}
.input-div {
  height: 8vh;
  border: 1px solid #999;
}
.message-input {
  height: 8vh;
  font-size: 22px;
}
.send-btn {
  height: 8vh;
  padding: 0;
}
.ul-menu li {
  display: inline;
}
.a_contact {
  height: 10vh;
  border: 1px solid #999;
  padding-top: 10px;
  padding-left: 20px;
}
.self-box {
  margin-left: 2%;
  margin-top: 2vh;
  padding: 2px;
  border: 1px solid #999;
  background-color: #fcf;
}
.msg-box {
  margin-left: 15%;
  margin-top: 2vh;
  padding: 2px;
  border: 1px solid #999;
  background-color: #ffc;
}
.n-msg {
  color: red;
  padding: 10px;
  border: 1px solid red;
  border-radius: 50%;
/*  visibility: hidden; */
}
